body {
  margin: 0;
  padding: 0;
  font-family: Roboto, Arial;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 30px 15px 40px;
}

.clearfix * {
  zoom: 1;
}

.clearfix:before,
.clearfix:after{
  display: table;
  content: "";
  line-height: 0;
}

.clearfix:after {
  clear: both;
}

.add-product {
  min-height: 200px;
  margin-bottom: 10px;
}

.add-product__left {
  float: left;
  width: 100%;
  margin-right: -110px;
  padding-right: 110px;
  box-sizing: border-box;
}

.add-product__right {
  float: left;
  width: 110px;
}

.add-product__group {
  float: left;
  width: 50%;
  padding-right: 20px;
  box-sizing: border-box;
}

.add-product__btn {
  margin-top: 27px;
}

.discount-field {
  margin: 0 15px;
}

.table-container {
  margin-bottom: 50px;
}

.table-cell {
  padding-left: 0 !important;
}

.discount-label_right {
  margin-right: 30px;
}

.discount-label_left,
.discount-label_right {
  display: inline-block;
  vertical-align: top;
  margin-top: 13px;
}

.commentary {
  font-size: 12px;
  line-height: 1.5;
}

.discount-container {
  margin-bottom: 30px;
}

.discount-btn {
  margin-top: 4px;
}